* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #F6F0EF;
}

.actionBtn {
  border-radius: 200px;
  background-color: #824E5A;
  font-weight: 700;
  color: #FBFBFD;
  transition: filter 0.5s;
}
.actionBtn:hover {
  filter: brightness(116%);
}

.secondBtn {
  border-radius: 200px;
  background-color: black;
  font-weight: 600;
  color: white;
  width: fit-content;
  display: block;
  transition: background-color 0.5s;
}
.secondBtn:hover {
  background-color: #1D1D1F;
}

.mainTxt {
  color: #1D1D1F;
  font-weight: 700;
}

.coloredMainTxt {
  font-weight: 700;
  color: #824E5A;
}

.secondTxt {
  color: #1D1D1F;
  font-weight: 600;
}

.thirdTxt {
  color: #424245;
  font-weight: 400;
}

.fourthTxt {
  color: rgba(0, 0, 0, 0.5607843137);
  font-weight: 400;
}

.section-title {
  font-size: 4.8rem;
  text-align: center;
  line-height: 110%;
  margin-bottom: 6px;
}

.section-subtitle {
  font-size: 1.8rem;
  text-align: center;
}

.borders-pd {
  padding: 40px 50px 80px;
  max-width: 2560px;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1680px;
  margin: 0px 50px;
  width: 100%;
}

#navPages {
  display: flex;
  gap: 38px;
}
#navPages li {
  display: inline-block;
}
#navPages li a {
  color: #1D1D1F;
  font-size: 12px;
}
#navPages li #navAction {
  color: #FBFBFD;
  padding: 7px 12px;
}

#btnExpMenu {
  display: none;
}

#expMenu {
  display: none;
  width: 100%;
  height: 0px;
  position: absolute;
  top: 64px;
  transition: all 0.7s;
  overflow: hidden;
  background-color: #F6F0EF;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
}
#expMenu #expMcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 0px;
}
#expMenu #expMcontent a {
  font-size: 14px;
  color: #1D1D1F;
}
#expMenu #expMcontent #expAction {
  font-size: 16px;
  width: 65vw;
  max-width: 500px;
  padding: 16px 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FBFBFD;
}

#sWelcome {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: #F6F0EF;
}

#welcomeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#welcomeContent h1 {
  font-size: 7.6rem;
  line-height: 88px;
}
#welcomeContent h2 {
  font-size: 1.8rem;
  margin-top: 14px;
}

#welcomeBtn {
  display: block;
  width: fit-content;
  font-size: 1.6rem;
  padding: 20px 35px;
  margin-top: 24px;
}

#welcomePicture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 550px;
  overflow: hidden;
  border-radius: 24px;
}
.sPicture img {
  height: 550px;
  width: 550px;
}

#servicesPicture {
  display: flex;
  justify-content: end;
  align-items: center;
}

#sServices {
  gap: 50px;
  display: flex;
  justify-content: center;
}

#sGrid {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 50px;
}

#servicesContent {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
}
#servicesContent h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
#servicesContent #viewMoreServices {
  margin-top: 24px;
  padding: 9px 30px;
  font-size: 1.6rem;
}

#servicesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
#servicesList li {
  align-items: center;
  display: flex;
  gap: 14px;
}
#servicesList .secondTxt {
  font-size: 1.6rem;
}

.star {
  width: 9px;
  height: 9px;
  background-image: url("../visual/svg/eclipse.svg");
  background-size: cover;
}

#sReviews {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#reviewsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.elfsight-app-3d5503b7-ac55-4620-a445-0f173eadb11b {
  height: 202px;
}

#sAdress {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#adressTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapClinica {
  width: auto;
  border-radius: 24px;
  height: 560px;
}

@media (max-width: 1320px) {
  #welcomeContent h1 {
    font-size: 6.6rem;
    line-height: 70px;
  }
  #welcomeContent h2 {
    font-size: 1.6rem;
  }
  .sPicture {
    height: 450px;
    width: 450px;
  }
  .sPicture img {
    height: 450px;
    width: 450px;
  }
}
#sInstagram {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#instaTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pgFooter {
  font-size: 1.4rem;
}

#fContent {
  padding-top: 46px;
  border-top: solid 1px #D2D2D7;
  display: flex;
  justify-content: space-between;
}

#carvalhoClinica {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carvalhoClinica h1 {
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  color: black;
}

#fLinks {
  display: flex;
  gap: 4.5vw;
}

.footerLinks h1 {
  color: #1D1D1F;
  font-size: 1.4rem;
  font-weight: 700;
}
.footerLinks li {
  list-style: none;
  margin: 5px 0px;
}
.footerLinks li a {
  color: #424245;
}

#byLuan {
  width: 165px;
  height: 45px;
  background-size: cover;
  background-image: url(../visual/svg/developed\ By\ Anluk.svg);
}

@media (max-width: 1060px) {
  #sWelcome {
    display: flex;
  }
  #welcomePicture {
    display: none;
  }
  #servicesPicture .sPicture {
    width: 42vw;
  }
  #fContent {
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
  #fLinks {
    display: flex;
    gap: 15.5vw;
  }
}
@media (max-width: 760px) {
  .borders-pd {
    padding: 40px 20px 80px;
  }
  #navPages {
    display: none;
  }
  #btnExpMenu {
    display: flex;
  }
  #expMenu {
    display: block;
  }
  #sGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  #servicesPicture {
    justify-content: center;
  }
  #servicesPicture .sPicture {
    width: 300px;
    height: 300px;
  }
  #servicesPicture .sPicture img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 534px) {
  .section-title {
    font-size: 3.8rem;
    line-height: 110%;
  }
  .section-subtitle {
    font-size: 1.6rem;
  }
  #welcomeContent h1 {
    font-size: 3.8rem;
    line-height: 38px;
  }
  #welcomeContent h2 {
    font-size: 1.4rem;
  }
  .navContent {
    margin: 0px 20px;
  }
  #sGrid {
    gap: 20px;
  }
  #servicesPicture {
    justify-content: center;
  }
  #servicesPicture .sPicture {
    width: 200px;
    height: 200px;
  }
  #servicesPicture .sPicture img {
    width: 200px;
    height: 200px;
  }
}

/*# sourceMappingURL=index.css.map */
